.projects {
    height: 0;
    border-radius: 30px;
    margin-top: 15px;
    background: url("../../../img/memphis-mini-dark.png");
    text-align: center;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projectHover {
    height: 260px;
    border-radius: 30px;
    color: black;
    background: url("../../../img/memphis-mini.png");
}

.project {
    flex: 0 30%;
    margin: 20px;
}

.project * {
    margin: 0;
}

.project p {
    padding: 10px 30px 30px;
    font-size: 12pt;
}

.project h4 {
    color: #2d2d2d;
}

.project h2 {
    padding-top: 10px;
}
