.projects {
    height: 0;
    border-radius: 30px;
    margin-top: 15px;
    background: url("../../../img/memphis-mini-dark.png");
    text-align: center;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    flex: 0 20%;
    margin: 40px;
    height: 320px;
    border-radius: 30px;
    width: 20px;
    color: black;
    background: url("../../../img/memphis-mini.png");
}

.project * {
    margin: 0;
}

.project p {
    padding-left: 30px;
    padding-right: 30px;
}

.project h4 {
    color: #d4d4d4d4;
}
