.skill {
    background: url('../../../img/memphis-mini.png');
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    color: black;
    white-space: nowrap;
}

