.header {
    background: url('../img/memphis-mini-dark.png');
    border-radius: 50px;
    display: table;
}

.headerTitle {
    padding-left: 20px;
    padding-top: 10px;
    display: table-cell;
    font-size: 30pt;
}
